<% @page_name = "documents" %>
<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Listing Documents</h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Type</th>
        <th>File Name</th>
        <th>Date Modified</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @documents.each do |document| %>
        <tr>
          <td><%= link_to document.title, document %></td>
          <td><%= document.description %></td>
          <td><%= document.type %></td>
          <td><%= document.file_file_name %></td>
          <td><%= document.file_</td>
          <td><%= link_to 'Edit', edit_document_path(document) %></td>
          <td><%= link_to 'Delete', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Document', new_document_path %>
</div>