<% @page_name = "documents" %>
<div class="container">  
  <p id="notice"><%= notice %></p>

  <h1>
    <%= @document.title %>
  </h1>

  <p>
    <strong>Description:</strong>
    <%= @document.description %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= @document.type %>
  </p>

  <p>
    <strong>File Name:</strong>
    <%= @document.file_file_name %>
  </p>

  <p>
    <strong>Download Here:</strong>
    <%= link_to @document.title, @document.file.url(:original, false) %>
  </p>

  <%= link_to 'Edit', edit_document_path(@document) %> |
  <%= link_to 'Back', documents_path %>
</div>